*{
  box-sizing: border-box;
  font-family:sans-serif;
/*  border: 1px solid red; */
}

header{
  background-color: orange;
  /* padding: 4px 10px; */
  font-size:large;
  font-weight: bold;
  text-align: center;
}

footer{
  background-color: orange;
  /* padding: 1px 10px; */
  font-size:small;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
}

nav{
  background-color: darkorange;
  padding:1px;
  text-align: center;
}

nav ul{
  padding-inline-start: 10px;
}

nav ul li{
  display: inline-block;
  background-color: orange;
  padding:6px;
  border:1px solid gray;
  border-radius: 10%;
}

nav ul li:hover{
  background-color: Khaki;
  border-bottom:1px solid black;
  cursor: pointer;
}

nav ul li a{
  text-decoration: none; 
  color: black; 
}

#section-mensagem-home{
  background-color: lightgray;
  padding: 0px 10px;
  margin: 10px;
  border:1px solid gray;
  border-radius:2%;
}

#sectionMensagemHome h2{
  text-align: center;
}

#sectionMensagemHome p{
  letter-spacing: 1px;
  text-align: justify;
}

#section-procura{
  background-color: orange;
  padding: 10px;
}

#edt-procura{
  padding: 4px;
  border-radius: 2%;
  background-color: Khaki;
  width: 300px;
}

#section-procura button{
  padding: 4px;
  background-color: greenyellow;
}

.articleLinhaTabela{
  padding-top: 10px;
  border-bottom: 1px solid gray;
}

.disciplinaLinhaTabela{
  font-size:large;
  font-weight: bold;
  padding-bottom: 4px;
}

.dia-da-semana__LinhaTabela{
  font-style: italic;
}

.professorLinhaTabela{
  float:right;
}

.salaLinhaTabela{
  background-color: Khaki;
  clear: both;
  padding-top: 4px;
  font-weight: bold;
  text-align: center;
}

#carregando-message{
  background-color: Khaki;
  font-size: xx-large;
  text-align: center;
  font-style: italic;
}